<div class="container">
  <p class="mono route-text">
    <span class="type {{this.route.type}}">{{this.route.type}}</span>
    {{this.route.route}}
  </p>
  {{#if this.route.description}}
    <h5>Description</h5>
    <p class="text">{{{this.route.description}}}</p>
  {{/if}}

  {{#if this.route.params}}
    <h5>Params</h5>
    <div class="code-block mono">
      {{{this.route.params}}}
    </div>
  {{/if}}

  {{#if this.route.returns}}
    <h5>Returns</h5>
    <div class="code-block mono">
      {{{this.route.returns}}}
    </div>
  {{/if}}
  <a href="/" class="btn btn-primary">
    ← Back to home
  </a>
</div>
